
.s01 {
  align-items: inherit;
}



.search-item {
  width: 60%;
  margin-top: 25px;
  margin-bottom: 55px;
  transition: unset;
}

@media (max-width: 768px) {
  .search-item {
      width: 100%; 
  }
}
.search-item:hover {
  background-color: #fff;
  transform: unset;
  padding: unset;
}

.results {
  margin: 35px;
}
h3 {
  display: flex;
  justify-content: center;
}
